@model IEnumerable<TesteSimpressFabio.Models.Produto>

@{
    ViewBag.Title = "Index";
}
<div id="top" class="row">
    <div class="col-md-6">
        <h2>Cadastar Produtos</h2>
        <p><a href="~/Produto/Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Cadastrar</a></p>
    </div>
</div>

<div id="list" class="row">

    <div class="table-responsive-sm col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdutoNome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdutoDescricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdutoAtivo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdutoPerecivel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoriaProduto.CategoriaNome)
                    </th>
                    <th class="actions">Ações</th>
        </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdutoNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdutoDescricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdutoAtivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdutoPerecivel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoriaProduto.CategoriaNome)
                    </td>

                    <td>
                        @Html.ActionLink("Atualizar", "Edit", new { id = item.ProdutoID }, new { @class = "btn btn-success" })
                        @*@Html.ActionLink("Detalhes", "Details", new { id = item.ProdutoID }, new { @class = "btn btn-info btn-sm" })*@
                        @Html.ActionLink("Deletar", "Delete", new { id = item.ProdutoID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
                }
    </div>
</div>
</table>